<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Type:</b>
  <%= @item.item_type %>
</p>

<p>
  <b>Color:</b>
  <%= @item.color %>
</p>

<p>
  <b>Brand:</b>
  <%= @item.brand %>
</p>

<p>
  <b>Condition:</b>
  <%= @item.condition %>
</p>

<p>
  <b>Date available:</b>
  <%= @item.date_available %>
</p>

<p>
  <b>Time available:</b>
  <%= @item.time_available %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
